entrypoint = "main.py"
modules = ["python-3.12"]
hidden = ["github.url", "generated-icon.png"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "CLI"

[[workflows.workflow]]
name = "GUI"
mode = "sequential"
author = 16391845

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py GUI"

[[workflows.workflow]]
name = "CLI"
mode = "sequential"
author = 16391845

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py CLI"

[[workflows.workflow]]
name = "test"
mode = "sequential"
author = 16391845

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pytest test_*.py"
